{% extends 'base.html.twig' %}

{% block title %}Collection creation page{% endblock %}

{# {% block javascripts %}
    <script type="application/javascript" src="{{ asset ('js/collectionFormHelper.js')}}"></script>
{% endblock %} #}

{% block body %}
    <div class="container h-100">
        {{ form_errors(collectionForm) }}

        {{ form_start(collectionForm) }}
            {{ form_row(collectionForm.name) }}
            {{ form_row(collectionForm.description) }}
            {{ form_row(collectionForm.category) }}

            <div data-index="{{ collectionForm.customItemAttribute|length > 0 ? collectionForm.customItemAttribute|last.vars.name + 1 : 0 }}" 
                                data-prototype="{{ form_widget(collectionForm.customItemAttribute.vars.prototype)|e('html_attr') }}" 
                                id="custom-attribute-wrapper">
                {% for customItemAttribute in collectionForm.customItemAttribute%}
                    <div class="item text-prime">
                        {{ form_row(customItemAttribute)}}
                    <div>
                {% endfor %}
            </div>

            <a id="add-custom-attribute" href="#">Abb custom attribute</a>

            <button type="submit" class="btn btn-success btn-block btn-lg border-0 gradient-custom-1 mx-auto text-body w-100">Create Collection</button>
        {{ form_end(collectionForm) }}       
    </div>

    <script>
        function addCustomCollectionAtribute(e) {
            const collectionHolder = document.querySelector('#custom-attribute-wrapper');
            const item = document.createElement('div');
            item.className = 'item';
        
            item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );
        
            collectionHolder.appendChild(item);
        
            collectionHolder.dataset.index++;

            addRemoveCollectionAttributeButton(item);
        }

        function addRemoveCollectionAttributeButton(item) {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            document
                .querySelector('#add-custom-attribute')
                .addEventListener('click', (e) => {
                    e.preventDefault();

                    addCustomCollectionAtribute(e);
                })

            document
                .querySelectorAll('#custom-attribute-wrapper div.item')
                .forEach( (row) => {
                    addRemoveCollectionAttributeButton(row);
                })
        })
    </script>
{% endblock %}