{% extends 'base.html.twig' %}

{% block title %}Collection updating page{% endblock %}

{% block body %}
    <div class="container py-3 h-100">
        <div class="back_btn mb-3">
            <a class="text-decoration-none text-dark" href="{{ path ('app_user')}}"><button type="button" class="btn btn-outline-light mx">← Back</button></a>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2 class="text-center text-uppercase mb-5">Update Collection</h2>
            {{ form_errors(collectionForm) }}
            
            {{ form_start(collectionForm) }}
                <div class="bg-white rounded">
                    {{ form_row(collectionForm.name) }}
                </div>
                <div class="bg-white rounded">
                    {{ form_row(collectionForm.description) }}
                </div>

                {{ form_row(collectionForm.category) }}

                <div data-index="{{ collectionForm.customItemAttribute|length > 0 ? collectionForm.customItemAttribute|last.vars.name + 1 : 0 }}" 
                                    data-prototype="{{ form_widget(collectionForm.customItemAttribute.vars.prototype)|e('html_attr') }}"
                                    id="custom-attribute-wrapper">
                    {% for customItemAttribute in collectionForm.customItemAttribute|slice(collectionForm.customItemAttribute|length) %}
                        <div class="item text-prime">
                            {{ form_row(customItemAttribute)}}
                        <div>
                    {% endfor %}
                </div>

                <a class="text-decoration-none text-dark" id="add-custom-attribute"><button type="button" class="btn btn-outline-light text-dark mb-3">Abb custom attribute</button></a>

                <button type="submit" class="btn btn-success btn-block btn-lg border-0 gradient-custom-1 mx-auto text-body w-100" style="bottom: 0">Update Collection</button>
            {{ form_end(collectionForm) }}     
        </div>  
    </div>

    <script>
        function addCustomCollectionAtribute(e) {
            const collectionHolder = document.querySelector('#custom-attribute-wrapper');
            const item = document.createElement('div');
            item.className = 'item';
        
            item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );
        
            collectionHolder.appendChild(item);
        
            collectionHolder.dataset.index++;

            addRemoveCollectionAttributeButton(item);
        }

        function addRemoveCollectionAttributeButton(item) {
            const removeFormButton = document.createElement('button');
            removeFormButton.className = "btn btn-danger mb-3 text-dark";
            removeFormButton.innerText = 'Delete';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            document
                .querySelector('#add-custom-attribute')
                .addEventListener('click', (e) => {
                    e.preventDefault();

                    addCustomCollectionAtribute(e);
                })

            document
                .querySelectorAll('#custom-attribute-wrapper div.item')
                .forEach( (row) => {
                    addRemoveCollectionAttributeButton(row);
                })
        })
    </script>
{% endblock %}