{% extends 'base.html.twig' %}

{% block title %}Item creation page{% endblock %}

{% block body %}
    <div>
        <!-- Основная форма для CollectionItem -->
        {{ form_start(form) }}
            {{ form_errors(form) }}
            
            <div class="bg-white rounded">
                <!-- Рендеринг полей основной формы -->
                {{ form_widget(form) }}
            </div>
            
            <!-- Кнопка для отправки основной формы -->
            <button type="submit" class="btn btn-success btn-block btn-lg border-0 gradient-custom-1 mx-auto text-body w-100">Save</button>
        {{ form_end(form) }}
    </div>

    <div>
        <!-- Форма для каждого атрибута -->
        {% for type, form in forms %}
            <div class="row d-flex justify-content-center align-items-center ms-5" style="width: 500px">
                {{ form_errors(form) }}
                
                {{ form_start(form) }}
                    <div class="bg-white rounded">
                        <!-- Рендеринг полей формы для атрибутов -->
                        {{ form_widget(form) }}
                    </div>
                    
                    <!-- Кнопка для отправки формы атрибутов (если требуется) -->
                    <button type="submit" class="btn btn-success btn-block btn-lg border-0 gradient-custom-1 mx-auto text-body w-100">Save</button>
                {{ form_end(form) }}
            </div>
        {% endfor %}
    </div>

    <div>
        <!-- Названия атрибутов -->
        {% for attribute in attributes %}
            <div class='mb-4'>
                <h4>{{ attribute|capitalize }}</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
