{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="text-decoration-none text-dark" href="{{ path ('app_collection_create')}}"><button type="button" class="btn gradient-custom-1 text-bg-white w-100 my-3 border-rounded">Create new Collection!</button></a>
            {% else %}
                <a class="text-decoration-none text-dark" href="{{ path ('app_register')}}"> <button type="button" class="btn bg-subtitle text-bg-white w-100 my-3 border-dark rounded">Create new Collection!</button></a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% if collections %}
            <div class="row my-5 pb-5">
                {% for collection in collections %}
                    <div class="col-sm-4 mb-3">
                        <div class="card menu-card" >
                            <div class="card-body">
                                <h5 class="card-title"><a class="text-decoration-none text-dark" href="{{ path ('app_collection_show', {id:collection.id}) }}">{{ collection.name }}</a></h5>
                                <p class="card-text" >{{ collection.description }}</p>

                                {% if app.user and app.user.email == collection.author.email %}                                    
                                    <div class="row mt-3">
                                        <a class="text-decoration-none text-dark col-sm" href="{{ path ('app_collection_update', {id:collection.id} )}}"><button class="btn btn-outline-warning me-2 w-100 ">Update</button></a>
                                        <a class="text-decoration-none text-dark col-sm" href="{{ path ('app_collection_delete', {id:collection.id} )}}"><button class="btn btn-outline-danger me-2 w-100 ">Delete</button></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
